
$primary-color: #2B331B;
$secondary-color: #171B0E;
$footer-color: #0F0F0F;
$primary-highlight: #FFD300;
$secondary-highlight: #FFFFFF;

$primary-font: 'Josefin Sans', sans-serif;


// Header styling begins
.blog-header{
	background-image:url(../the-restaurant-mall-assets/blog-header.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 25% 50%;
	height: 80vh;

	.blog-header-container{
		margin-left: 7%;
	}
}

// Start of main content styling
main{
	background: $primary-color;

	
	.blog-main-container{
		display:flex;
	}

}

aside{
	width: 30%;


	.aside-image{
		background: $secondary-color;
	}

	.aside-image img{
		width: 94%;
		display: block;
	}
}


.aside-text{
	background: $secondary-color;
	margin-left: 10%;
	font-family: $primary-font;
	padding: 20px;

	h4{
		color: $primary-highlight;
		font-weight: 400;
		text-transform: uppercase;
		margin: 5% 0;
	}

	p{
		color: $secondary-highlight;
	}

	li{
		color:$secondary-highlight;
		margin-left: 10%;
	}
}

article{
	width: 65%;
	margin:0 0 0 5%;

	.employment-container{
		border: 4px solid $primary-highlight;
		margin-left: 10%;
	}


	.article-image{
		position: relative;
		bottom: 150px;
		box-shadow: -15px 15px $primary-highlight;

	}
	.article-image img{
		width: 100%;
	}
}

.article-text{
	position: relative;
	bottom: 80px;
	font-family: $primary-font;
	margin: 0 6%;

	h2{
		color: $primary-highlight;
		text-transform: uppercase;
		font-weight: 400;
	}

	h5{
		color: $secondary-highlight;
		margin: 2% 0;
	}

	p{
		color: $secondary-highlight;
		margin: 2% 0;
		font-weight: 400;
	}
}

// Start of comments section styling

.comments{
	margin: 5% 8%;
	font-family: $primary-font;

	h2{
		text-transform: uppercase;
		color: $secondary-highlight;
		font-weight: 400;
	}
}

.comment-1{
		display:flex;
		margin: 3% 0;

	.comment-image-container{
			width: 20%;
			padding: 2%;

			img{
			width:100%;
		}
		
	}
		
}

.comment-2{
	display: flex;

	.comment-image-container{
		width: 20%;
		padding: 2%;

		img{
			width: 100%;
		}
	}
}

.comment-text{
	width: 80%;
	padding: 2%;

	h5{
		color: $primary-highlight;
		font-weight: 400;
	}

	p{
		color: $secondary-highlight;
		padding: 2% 0;
	}
}

// Start of form styling

.blog-form{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	

	.name{
		width: 46%;
		margin: 2%;
		background: $primary-color;
		border: none;
		border-bottom: 3px solid $primary-highlight;
		color: $secondary-highlight;
	}
	:focus{
		border: 3px solid $primary-highlight;
	}

	.email{
		width: 46%;
		margin: 2%;
		background: $primary-color;
		border: none;
		border-bottom: 3px solid $primary-highlight;
		color: $secondary-highlight;
	}

	:focus{
		border: 3px solid $primary-highlight;
	}

	.message{
		width:100%;
		background: $primary-color;
		border: 3px solid $primary-highlight;
		margin: 3%;
		color: $secondary-highlight;
		height: 250px;

		:focus{
		border: 3px solid $secondary-color;
	}
	}

	.blog-form ::placeholder{
		color: $secondary-highlight;
		opacity: 1;
	}

	

	.submit{
		width: 100%;
		background: $primary-highlight;
		margin: 3%;
		font-family: $primary-font;
		color: $secondary-color;
		text-transform: uppercase;
		padding: 5px;
		border: none;

		:focus{
		border: 3px solid $secondary-color;
	}
	}

	
}