$primary-color: #2B331B;
$secondary-color: #171B0E;
$footer-color: #0F0F0F;
$primary-highlight: #FFD300;
$secondary-highlight: #FFFFFF;

$primary-font: 'Josefin Sans', sans-serif;


.contact-header{
	background: url(../the-restaurant-mall-assets/contact-header.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 70vh;
	position: relative;

	.contact-header-container{
		margin-left: 7%;

		h1{
			width:100%;
		}
	}
}

.contact-comment-form{
	background: $primary-color;

		.form-container{
			position: absolute;
			right: 35px;
			top: -160px;
			width: 60%;
			background: $secondary-color;
			box-shadow: 15px 15px $primary-highlight;

		}


}

.contact-form{
	display:flex;
	flex-wrap: wrap;
	margin: 5%;
	#name{
		width: 46%;
		margin: 2%;
		background: $secondary-color;
		border: none;
		border-bottom: 3px solid $primary-highlight;
		color: $secondary-highlight;

	}

	#email{
		width: 46%;
		margin: 2%;
		background: $secondary-color;
		border: none;
		border-bottom: 3px solid $primary-highlight;
		color: $secondary-highlight;
	}

	#message{
		width:100%;
		background: $secondary-color;
		border: 3px solid $primary-highlight;
		margin: 3%;
		color: $secondary-highlight;
		height: 250px;
	}

	#submit{
		width: 100%;
		background: $primary-highlight;
		margin: 3%;
		font-family: $primary-font;
		color: $secondary-color;
		text-transform: uppercase;
		padding: 5px;
		border: none;
	}
}

// Start of footer styling
.contact-footer{
	background: $primary-color;

	.footer-content{
		text-align: left;
		margin: 10%;
	}

}

.social ul{
		display: flex;
		
		li{
			list-style-type: none;
			margin: 1% 1% 1% 0;
			color: $primary-highlight;
		}
		
	}

	p{
		font-weight: lighter;

		
	}

	.email-p{
		margin-bottom: 1.5%;
	}


	




.copyright{
	background: $footer-color;
		color: $secondary-highlight;
		font-family: $primary-font;
		text-align: center;
		padding:1%;
}