.sr-only:not(:focus):not(:active) {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  padding-top: 5%;
}

nav li {
  margin: 1.5%;
  padding-top: 1%;
}

nav a {
  text-decoration: none;
  color: #FFFFFF;
  font-family: "Josefin Sans", sans-serif;
}

li:hover {
  border-bottom: 2px solid #FFD300;
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

body, header, section, aside, article, footer, p, a, input, h1, h2, h3, h4, h5, h6, nav, ul, li, img {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 100%;
  position: relative;
}

h1, h2 {
  text-transform: uppercase;
}

body {
  font-size: 125%;
}

header {
  background-image: url(../the-restaurant-mall-assets/home-header.jpg);
  background-position: 62% 20%;
  position: relative;
  height: 100vh;
}

header .header-feature {
  position: absolute;
  right: 0;
  top: 200px;
  width: 50%;
}

header .header-feature img {
  width: 100%;
}

h1 {
  font-family: "Josefin Sans", sans-serif;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 3.45rem;
  width: 30%;
  text-transform: uppercase;
  margin: 3% 0 2% 0;
}

h1 span {
  color: #171B0E;
  background: #FFFFFF;
}

.header-container {
  margin-left: 7%;
}

.about {
  background: #2B331B;
}

.about-item-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 10% 0;
}

.about-item-container .about-item {
  width: calc(50% - 8%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2% 4%;
}

.about-item-container .about-item .about-item-text {
  margin-left: 5%;
}

.about-item-container .about-item h2, .about-item-container .about-item p {
  font-family: "Josefin Sans", sans-serif;
  color: #FFFFFF;
  font-weight: 400;
}

.about-item-container .about-item i {
  color: #171B0E;
  background: #FFD300;
  display: table;
  padding: 2%;
  border-radius: 50%;
  margin: 2%;
}

.feature {
  background: #171B0E;
}

.feature .wrapper {
  position: relative;
}

.feature-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.feature-container .feature-image {
  width: 45%;
}

.feature-container .feature-text {
  width: 55%;
}

.feature-container img {
  width: 100%;
}

.feature-container h3 {
  text-transform: uppercase;
}

.feature-container a {
  background: #FFD300;
  color: #171B0E;
  padding: 1%;
}

.feature-container p {
  margin-bottom: 2%;
}

.feature-container h3, .feature-container p, .feature-container a {
  color: #FFFFFF;
  font-family: "Josefin Sans", sans-serif;
}

.burger {
  text-align: left;
  padding: 7% 5% 2% 10%;
}

.new {
  text-align: right;
  padding: 7% 10% 2% 10%;
}

.feature-image {
  position: relative;
  bottom: 30px;
  left: 0;
}

.feature-image img {
  -webkit-box-shadow: 10px 10px #FFD300;
          box-shadow: 10px 10px #FFD300;
}

.feature-image :last-of-type {
  position: relative;
  right: 0;
  top: 30px;
}

.promo {
  background: #2B331B;
  font-family: "Josefin Sans", sans-serif;
  padding: 10%;
  text-align: center;
}

.promo h2 {
  color: #FFD300;
  padding: 3%;
}

.promo p {
  color: white;
  margin-bottom: 4%;
}

.promo a, .promo a:hover, .promo a:visited {
  text-decoration: none;
  color: #FFFFFF;
  background: #0F0F0F;
  padding: 15px;
  text-transform: uppercase;
}

.banner-container img {
  width: 100%;
  display: block;
}

.spaces {
  background: #2B331B;
  font-family: "Josefin Sans", sans-serif;
  padding: 5%;
}

.spaces-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.spaces-text {
  padding: 2% 2% 2% 5%;
}

.spaces-text h2 {
  color: #FFD300;
  text-transform: uppercase;
  font-weight: 400;
  padding-bottom: 2%;
}

.spaces-text p {
  color: #FFFFFF;
  padding-bottom: 2%;
}

.spaces-text a {
  text-decoration: none;
  color: #FFFFFF;
  background: #0F0F0F;
  padding: 9px;
  text-transform: uppercase;
}

.gallery {
  background: #171B0E;
}

.gallery-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gallery-container .img-container {
  width: calc(100% / 3);
  margin: 10% 2% 10% 2%;
}

.gallery-container img {
  width: 100%;
  display: block;
}

footer {
  background: #0F0F0F;
  color: #FFFFFF;
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  padding: 1%;
}
