article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body, header, section, aside, article, footer, p, a, input, h1, h2, h3, h4, h5, h6, nav, ul, li, img {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 100%;
  position: relative;
}

h1, h2 {
  text-transform: uppercase;
}

.sr-only:not(:focus):not(:active) {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}

.mobile-nav, .utensils {
  display: none;
}

.header-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  padding-top: 5%;
}

.header-nav li {
  margin: 1.5%;
  padding-top: 1%;
}

.header-nav a {
  text-decoration: none;
  color: #FFFFFF;
  font-family: "Josefin Sans", sans-serif;
}

li:hover {
  border-bottom: 2px solid #FFD300;
}

@media (max-width: 1125px) {
  nav {
    width: 50%;
  }
  nav li {
    margin: 0.7%;
    padding: 5% 0 0 0;
  }
}

@media (max-width: 970px) {
  .open {
    display: block;
  }
  .closed {
    display: none;
  }
  .utensils {
    margin: 0;
    display: block;
  }
  .utensils i {
    color: #FFFFFF;
    font-size: 70px;
    margin: 5%;
  }
  .exit i {
    color: #FFFFFF;
    font-size: 50px;
    margin: 5%;
    position: absolute;
    right: 0;
  }
  .header-container h1 {
    margin: 0;
    padding-top: 3%;
  }
  .header-nav {
    display: none;
  }
  .mobile-nav {
    background: black;
    opacity: 0.9;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1;
  }
  .mobile-nav li a {
    text-decoration: none;
    color: #FFD300;
    font-family: "Josefin Sans", sans-serif;
    font-size: 40px;
    padding: 5%;
  }
}

.contact-header {
  background: url(../the-restaurant-mall-assets/contact-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
  position: relative;
}

.contact-header .contact-header-container {
  margin-left: 7%;
}

.contact-header .contact-header-container h1 {
  width: 100%;
}

.contact-comment-form {
  background: #2B331B;
}

.contact-comment-form .form-container {
  position: absolute;
  right: 35px;
  top: -160px;
  width: 60%;
  background: #171B0E;
  -webkit-box-shadow: 15px 15px #FFD300;
          box-shadow: 15px 15px #FFD300;
}

.contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 5%;
}

.contact-form #name {
  width: 46%;
  margin: 2%;
  background: #171B0E;
  border: none;
  border-bottom: 3px solid #FFD300;
  color: #FFFFFF;
}

.contact-form #email {
  width: 46%;
  margin: 2%;
  background: #171B0E;
  border: none;
  border-bottom: 3px solid #FFD300;
  color: #FFFFFF;
}

.contact-form #message {
  width: 100%;
  background: #171B0E;
  border: 3px solid #FFD300;
  margin: 3%;
  color: #FFFFFF;
  height: 250px;
}

.contact-form #submit {
  width: 100%;
  background: #FFD300;
  margin: 3%;
  font-family: "Josefin Sans", sans-serif;
  color: #171B0E;
  text-transform: uppercase;
  padding: 5px;
  border: none;
}

.contact-footer {
  background: #2B331B;
}

.contact-footer .footer-content {
  text-align: left;
  margin: 10%;
}

.social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social ul li {
  list-style-type: none;
  margin: 1% 1% 1% 0;
  color: #FFD300;
}

p {
  font-weight: lighter;
}

.email-p {
  margin-bottom: 1.5%;
}

.copyright {
  background: #0F0F0F;
  color: #FFFFFF;
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  padding: 1%;
}

.blog-header {
  background-image: url(../the-restaurant-mall-assets/blog-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 25% 50%;
  height: 80vh;
}

.blog-header .blog-header-container {
  margin-left: 7%;
}

main {
  background: #2B331B;
}

main .main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

aside {
  width: 30%;
}

aside .aside-image {
  background: #171B0E;
}

aside .aside-image img {
  width: 94%;
  display: block;
}

.aside-text {
  background: #171B0E;
  margin-left: 10%;
  font-family: "Josefin Sans", sans-serif;
  padding: 20px;
}

.aside-text h4 {
  color: #FFD300;
  font-weight: 400;
  text-transform: uppercase;
  margin: 5% 0;
}

.aside-text p {
  color: #FFFFFF;
}

.aside-text li {
  color: #FFFFFF;
  margin-left: 10%;
}

article {
  width: 65%;
  margin: 0 0 0 5%;
}

article .employment-container {
  border: 4px solid #FFD300;
}

article .article-image {
  position: relative;
  bottom: 150px;
  -webkit-box-shadow: -15px 15px #FFD300;
          box-shadow: -15px 15px #FFD300;
}

article .article-image img {
  width: 100%;
}

.article-text {
  position: relative;
  bottom: 80px;
  font-family: "Josefin Sans", sans-serif;
  margin: 0 6%;
}

.article-text h2 {
  color: #FFD300;
  text-transform: uppercase;
  font-weight: 400;
}

.article-text h5 {
  color: #FFFFFF;
  margin: 2% 0;
}

.article-text p {
  color: #FFFFFF;
  margin: 2% 0;
  font-weight: 400;
}

.comments {
  margin: 5% 8%;
  font-family: "Josefin Sans", sans-serif;
}

.comments h2 {
  text-transform: uppercase;
  color: #FFFFFF;
  font-weight: 400;
}

.comment-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 3% 0;
}

.comment-1 .comment-image-container {
  width: 20%;
  padding: 2%;
}

.comment-1 .comment-image-container img {
  width: 100%;
}

.comment-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.comment-2 .comment-image-container {
  width: 20%;
  padding: 2%;
}

.comment-2 .comment-image-container img {
  width: 100%;
}

.comment-text {
  width: 80%;
  padding: 2%;
}

.comment-text h5 {
  color: #FFD300;
  font-weight: 400;
}

.comment-text p {
  color: #FFFFFF;
  padding: 2% 0;
}

.blog-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.blog-form .name {
  width: 46%;
  margin: 2%;
  background: #2B331B;
  border: none;
  border-bottom: 3px solid #FFD300;
  color: #FFFFFF;
}

.blog-form .email {
  width: 46%;
  margin: 2%;
  background: #2B331B;
  border: none;
  border-bottom: 3px solid #FFD300;
  color: #FFFFFF;
}

.blog-form .message {
  width: 100%;
  background: #2B331B;
  border: 3px solid #FFD300;
  margin: 3%;
  color: #FFFFFF;
  height: 250px;
}

.blog-form .submit {
  width: 100%;
  background: #FFD300;
  margin: 3%;
  font-family: "Josefin Sans", sans-serif;
  color: #171B0E;
  text-transform: uppercase;
  padding: 5px;
  border: none;
}

body {
  font-size: 125%;
}

header {
  background-image: url(../the-restaurant-mall-assets/home-header.jpg);
  background-position: 62% 20%;
  position: relative;
  height: 100vh;
}

header .header-feature {
  position: absolute;
  right: 0;
  top: 200px;
  width: 45%;
}

header .header-feature img {
  width: 100%;
}

h1 {
  font-family: "Josefin Sans", sans-serif;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 3.45rem;
  width: 30%;
  text-transform: uppercase;
  margin: 3% 0 2% 0;
  padding-top: 8%;
}

h1 span {
  color: #171B0E;
  background: #FFFFFF;
}

.header-container {
  margin-left: 7%;
}

.about {
  background: #2B331B;
}

.about-item-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 10% 0;
}

.about-item-container .about-item {
  width: calc(50% - 8%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2% 4%;
}

.about-item-container .about-item .about-item-text {
  margin-left: 5%;
}

.about-item-container .about-item h2, .about-item-container .about-item p {
  font-family: "Josefin Sans", sans-serif;
  color: #FFFFFF;
  font-weight: 400;
}

.about-item-container .about-item i {
  color: #171B0E;
  background: #FFD300;
  display: table;
  padding: 2%;
  border-radius: 50%;
  margin: 2%;
}

.feature {
  background: #171B0E;
}

.feature .wrapper {
  position: relative;
}

.feature-container1, .feature-container2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.feature-container1 .feature-image, .feature-container2 .feature-image {
  width: 45%;
}

.feature-container1 .feature-text, .feature-container2 .feature-text {
  width: 55%;
}

.feature-container1 img, .feature-container2 img {
  width: 100%;
}

.feature-container1 h3, .feature-container2 h3 {
  text-transform: uppercase;
}

.feature-container1 a, .feature-container2 a {
  background: #FFD300;
  color: #171B0E;
  padding: 2%;
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  margin: 1%;
}

.feature-container1 p, .feature-container2 p {
  margin-bottom: 2%;
}

.feature-container1 h3, .feature-container1 p, .feature-container2 h3, .feature-container2 p {
  color: #FFFFFF;
  font-family: "Josefin Sans", sans-serif;
}

.burger {
  text-align: left;
  padding: 7% 5% 2% 10%;
}

.new {
  text-align: right;
  padding: 4% 10% 2% 10%;
}

.feature-image {
  position: relative;
  bottom: 15px;
  left: 0;
}

.feature-image img {
  -webkit-box-shadow: 15px 15px #FFD300;
          box-shadow: 15px 15px #FFD300;
}

.feature-image :last-of-type {
  position: relative;
  right: 0;
  top: 30px;
}

.promo {
  background: #2B331B;
  font-family: "Josefin Sans", sans-serif;
  padding: 10%;
  text-align: center;
}

.promo h2 {
  color: #FFD300;
  padding: 3%;
}

.promo p {
  color: white;
  margin-bottom: 4%;
}

.promo a, .promo a:hover, .promo a:visited {
  text-decoration: none;
  color: #FFFFFF;
  background: #0F0F0F;
  padding: 15px;
  text-transform: uppercase;
}

.banner-container img {
  width: 100%;
  display: block;
}

.spaces {
  background: #2B331B;
  font-family: "Josefin Sans", sans-serif;
  padding: 5%;
}

.spaces .spaces-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.spaces-text {
  padding: 2% 2% 2% 5%;
}

.spaces-text h2 {
  color: #FFD300;
  text-transform: uppercase;
  font-weight: 400;
  padding-bottom: 2%;
}

.spaces-text p {
  color: #FFFFFF;
  padding-bottom: 2%;
}

.spaces-text a {
  text-decoration: none;
  color: #FFFFFF;
  background: #0F0F0F;
  padding: 9px;
  text-transform: uppercase;
}

.gallery {
  background: #171B0E;
}

.gallery-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gallery-container .img-container {
  width: calc(100% / 3);
  margin: 10% 2% 10% 2%;
}

.gallery-container img {
  width: 100%;
  display: block;
}

footer {
  background: #0F0F0F;
  color: #FFFFFF;
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  padding: 1%;
}

@media (max-width: 1125px) {
  .contact-footer .footer-content {
    margin: 10% 5% 5% 5%;
  }
}

@media (max-width: 970px) {
  .header-container h1 {
    margin: 0;
    padding-top: 5%;
  }
  .about-item-container
h2 {
    font-size: 25px;
  }
  p {
    font-size: 18px;
    line-height: 28px;
  }
  .about-item i {
    font-size: 18px;
  }
  .comment-form .form-container {
    top: -120px;
  }
}

@media (max-width: 840px) {
  .header-container h1 {
    font-size: 50px;
    padding-top: 8%;
  }
  .feature .feature-text {
    width: 50%;
  }
  .feature .feature-image {
    width: 50%;
  }
  .burger {
    padding: 3% 2% 3% 5%;
  }
  .new {
    padding: 3% 3% 3% 2%;
  }
  .spaces-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .spaces-info .spaces-text, .spaces-info .spaces-photo {
    margin: 0 auto;
  }
  .spaces-info .spaces-text {
    text-align: center;
  }
  .gallery-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .gallery-container .img-container {
    width: 90%;
    margin: 4% auto;
  }
  .contact-comment-form {
    padding: 4% 0;
  }
  .contact-comment-form .form-container {
    position: static;
    width: 85%;
    margin: 0 auto;
  }
  .contact-comment-form .form-container .contact-form {
    margin: 0;
  }
  .contact-footer .footer-content {
    text-align: center;
  }
  .contact-footer .footer-content .social {
    margin: 0 auto;
    width: 50%;
  }
  .contact-footer .footer-content .social ul {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media (max-width: 740px) {
  .main-header .wrapper {
    position: static;
  }
  .main-header .header-container {
    height: 100vh;
    position: relative;
  }
  .main-header .header-feature {
    position: absolute;
    top: 350px;
  }
  .about-item-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about-item-container .about-item {
    width: 80%;
  }
  .feature-container1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .feature-container1 .feature-text, .feature-container1 .feature-image {
    width: 90%;
    margin: 0 auto;
  }
  .feature-container1 .feature-text {
    margin: 5%;
    text-align: center;
  }
  .feature-container2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .feature-container2 .feature-text, .feature-container2 .feature-image {
    width: 90%;
    margin: 0 auto;
  }
  .feature-container2 .feature-text {
    margin: 5%;
    text-align: center;
  }
  .contact-header h1 {
    text-align: center;
  }
}

@media (max-width: 682px) {
  .header-container h1 {
    text-shadow: 2px 3px #171B0E;
    padding-top: 18%;
  }
  .utensils i {
    text-shadow: 3px 4px #171B0E;
  }
}

@media (max-width: 426px) {
  .main-header {
    height: 80vh;
  }
  .main-header h1 {
    padding-top: 40%;
  }
  .header-feature {
    display: none;
  }
  .contact-comment-form .contact-form #name, .contact-comment-form .contact-form #email {
    width: 98%;
  }
}
